<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.35">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.10"/>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.74">
    <script>pipeline {
    stages {
        stage(&apos;Checkout&apos;) {
            steps {
                checkout([
                  $class: &apos;GitSCM&apos;,
                  branches: [[name: &apos;*/master&apos;]],
                  doGenerateSubmoduleConfigurations: false,
                  extensions: [],
                  submoduleCfg: [],
                  userRemoteConfigs: [[
                  credentialsId: &apos;prueba-github&apos;,
                  url: &apos;github.com/rofacoga/estacionamiento-front.git&apos;
                  ]]
                ])
                sh &apos;chmod u+x gradlew&apos;
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>